@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MrDeHaviland';
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-display: swap;*/
    /*src: local('MrDeHaviland'), url('/fonts/MrDeHavilandRegular.ttf') format('woff2');*/
    src: url('/fonts/MrDeHavilandRegular.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Regular.ttf');
}

@font-face {
    font-family: 'HindMadurai';
    src: url('/fonts/HindMadurai-Light.ttf');
}

body {
    font-family: 'HindMadurai'
}

body {
    @apply text-gray-600 dark:bg-br-l-blush dark:bg-br-black dark:text-br-l-blush;
}

h1, h2, h3 {
    /*@apply*/
    font-family: "Lora";
}

h2 {
    @apply mt-0 mb-5 text-4xl font-medium tracking-wide text-center
}

table {
    border-collapse:separate;
    /*border:solid black 1px;*/
    /*border-radius:6px;*/
}

table {
    @apply min-w-full divide-y text-sm border-solid border rounded-3xl mt-4 bg-br-l-blush-light dark:bg-br-black-400 dark:border-none border dark:border-br-l-blush shadow-lg mx-auto;
/*    min-w-full divide-y divide-gray-200 text-sm dark:bg-br-black-400 dark:border-none border dark:border-br-l-blush*/
}

button {
    @apply px-5 py-2 text-sm font-medium rounded-lg bg-br-orange text-br-l-blush
}

input, textarea {
    @apply border-br-l-twilight focus:border-l-br-l-twilight dark:bg-br-black dark:text-br-l-blush focus:outline-none
}

/*.footer-heading {*/
/*    @apply*/
/*}*/

td, th {
    @apply border-solid border-l-0 border-l-br-l-twilight
    /*border-left:solid  1px;*/
    /*border-top:solid black 1px;*/
}

th {
    @apply border-b dark:border-br-black border-solid text-xl
    /*background-color: blue;*/
    /*border-top: none;*/
}

td:first-child, th:first-child {
    /*border-left: none;*/
    /*border-right: 1px solid black;*/
    @apply border-l-0 border-r dark:border-br-black border-solid
}


section {
    @apply mx-auto max-w-screen-xl px-4 py-16 lg:py-16 sm:px-6 lg:px-8
}

.footer-heading {
    @apply text-lg mb-2
}


#gallery img {
    @apply rounded-3xl shadow-lg
}

#progress {
    position: fixed;
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
}

circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
}

.bg {
    stroke: blue;
    opacity: 0.3;
}

#progress .indicator {
    stroke: blue;
}

#slider ul {
    display: flex;
    list-style: none;
    height: 500px;
    overflow-x: scroll;
    padding: 20px 0;
    flex: 0 0 600px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: blue;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: #fff3;
}

#slider li {
    flex: 0 0 400px;
    background: blue;
    margin: 0 20px 0 0;
}

#slider li:last-of-type {
    margin: 0;
}
