@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MrDeHaviland';
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-display: swap;*/
    /*src: local('MrDeHaviland'), url('/fonts/MrDeHavilandRegular.ttf') format('woff2');*/
    src: url('/fonts/MrDeHavilandRegular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'HindMadurai';
    src: url('/fonts/HindMadurai-Light.ttf');
    font-display: swap;
}

body {
    font-family: 'HindMadurai'
}

body {
    @apply text-gray-600 bg-br-l-blush-light dark:bg-br-black dark:text-br-l-blush;
}

h1, h2, h3 {
    /*@apply*/
    font-family: "Lora";
}

h1, h2, h3 {
    @apply tracking-wide
}

h2 {
    @apply mt-0 mb-5 text-4xl font-medium tracking-wide text-center
}

.hero-header {
    text-shadow: 1px 1px #0d1821;
}

button {
    @apply px-5 py-2 text-sm font-medium rounded-lg bg-br-orange text-br-l-blush
}

@media (prefers-color-scheme: dark) {
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #FFFBFB;
    /*-webkit-box-shadow: 0 0 0px 1000px #253341 inset;*/
    /*box-shadow: 0 0 0px 1000px #253341 inset;*/
    transition: background-color 5000s ease-in-out 0s;
    color: white;
    /*background-color: #0d1821;*/
    background-color: #0d1821;
}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: solid 1px #0d1821;
    /*-webkit-text-fill-color: ;*/
    /*-webkit-box-shadow: 0 0 0px 1000px #253341 inset;*/
    /*box-shadow: 0 0 0px 1000px #253341 inset;*/
    transition: background-color 5000s ease-in-out 0s;
    /*color: white;*/
    /*background-color: #0d1821;*/
    background-color: white;
}

input, textarea {
    @apply border-br-l-twilight focus:border-l-br-l-twilight dark:bg-br-black dark:text-br-l-blush focus:outline-none
}

table {
    border-collapse:separate;
    /*border:solid black 1px;*/
    /*border-radius:6px;*/
}

table {
    @apply min-w-full divide-y lg:text-lg rounded-3xl bg-br-l-blush-light dark:bg-br-black-400 shadow-lg mx-auto;
    /*    min-w-full divide-y divide-gray-200 text-sm dark:bg-br-black-400 dark:border-none border dark:border-br-l-blush*/
}

td, th {
    /*@apply border-solid border-l-0 border-l-br-l-twilight*/
}

th {
    @apply border-b dark:border-br-black border-solid text-xl px-4 py-2 text-left font-medium
}

td:first-child, th:first-child {
    /*@apply border-l-0 border-r dark:border-br-black border-solid*/
}


section {
    @apply mx-auto max-w-screen-xl px-4 py-16 lg:py-16 sm:px-6 lg:px-8
}

.footer-heading {
    @apply text-xl mb-2
}


#gallery img {
    @apply rounded-3xl shadow-lg
}

#ueber-uns h3 {
    @apply text-lg
}

label {
    @apply pl-1
}

#legal h2, #legal h3 {
    @apply mt-4 text-left
}

details summary::-webkit-details-marker {
    display:none;
}

input[type="date"], input[type="time"]
{
    display:block;
    /* Solution 1 */
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    /*min-height: 1.2em;*/
    /* Solution 2 */
    /* min-width: 96%; */
}